/obj/*
/bin/*
/.git/*

/AirShare/obj/*
/AirShare/bin/*
/AirShare/.git/*


/Tests/obj/*
/Tests/bin/*
/Tests/.git/*

/Properties/PublishProfiles
/AirShared/*
/sand/*
auth.json
sysctrl.json
Sandbox/*
Sandbox/AliveLog.txt
Tests/workspace
Tests/workspace/*
