/AirShare/obj/*
/AirShare/bin/*
/.git/*
/AirShare/Properties/PublishProfiles
/AirShared/*
/sand/*
/AirShare/auth.json
/AirShare/sysctrl.json
/AirShare/Sandbox/*
/AirShare/Sandbox/AliveLog.txt
/Tests/obj/*
/Tests/bin/*

