@page "/"
@namespace AirShare.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>AirShare</title>
    <base href="/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/my/Custom.css" rel="stylesheet" />
    <link href="css/my/explorer.css" rel="stylesheet" />
    <link href="css/photoeditor.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <script>
        window.OpenNew = (args) => {
            window.open(args);
        };

        window.SetCookie = (name, value) => {
            document.cookie = name + "=" + (value || "") + "; path=/";
        }
        window.GetCookie = (name) => {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        window.EraseCookie = (name) => {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }


        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>

</head>
<body style="background-color:#fff !important">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />


        <div id="blazor-error-ui">
            <div class="modal fade show" role="dialog" tabindex="-1" style="display: block; background-color:rgba(0, 0, 0,0.7);z-index: 1080;" aria-modal="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content bg-danger">
                        <div class="modal-body">
                            <center>
                                <h5 class="modal-title">Opps!</h5>
                                <hr />
                                <environment include="Staging,Production">
                                    <h6>An error has occurred. This application may no longer respond until reloaded.</h6>
                                </environment>
                                <environment include="Development">
                                    <h6>An unhandled exception has occurred. See browser dev tools for details.</h6>
                                </environment>
                                <hr />
                                <a href="" class="reload btn btn-rounded btn-success mb-2">Reload</a>
                                <a class="dismiss btn btn-rounded btn-warning mb-2">Ignore & Continue</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/default-assets/setting.js"></script>
    <script src="js/default-assets/fullscreen.js"></script>
    <script src="js/photoeditor.js"></script>
    <script>
        function searchTable() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        window.ShowModal = async (id) => {
            $(id).modal('show');
        }
        window.HideModal = async (id) => {
            $(id).modal('hide');
        }
        window.ShowCollapse = async (id) => {
            $(id).collapse('show');
        }
        window.HideCollapse = async (id) => {
            $(id).collapse('hide');
        }
    </script>

    <!-- Active JS -->
    <script src="js/default-assets/active.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
