@inherits LayoutComponentBase

<div class="ecaps-page-wrapper" style="overflow-x:hidden;width: 100vw;/*max-height:100vh;min-height:100vh;overflow-y:auto;background-image:url(img/logomrc.png);background-repeat:no-repeat;background-position:center;*/">
    <!-- Page Content -->
    <div class="ecaps-page-content" style="margin-left:0px;background-color:#fff !important">
    <!-- Main Content Area -->
    <div class="main-content" style="width:100vw;padding:0px !important;">
        <div style="overflow-y:scroll;">
            @*<MessageBox></MessageBox>*@
            @Body
        </div>
        <Footer></Footer>
    </div>
    </div>
</div>