<!-- Footer Area -->
<div class="row">
    <div class="col-12">
        <!-- Footer Area -->
        <footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
            <!-- Copywrite Text -->
            <div class="copywrite-text">
                <p class="font-13">An Open Source Project Written by <a href="https://bitblazers.github.io/" target="_blank">Bitblazers.</a></p>
            </div>
            <div class="fotter-icon text-center">
                <p class="mb-0 font-13">2020 &copy; Bitblazers. </p>
            </div>
        </footer>
    </div>
</div>
@code {

}
